.App {
  text-align: center;
}

li {
  width: 50%;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

form {
  width: 20%;
  margin: auto;
  padding: 25px 10px;
  border: 1px solid black;
  border-radius: 5px;
}